{
  "openapi": "3.0.1",
  "info": {
    "title": "API v6 Rabota.Ru",
    "description": "Документация работы с API Rabota.Ru в формате OpenAPI",
    "contact": {
      "name": "Поддержка API",
      "email": "support@rabota.ru"
    },
    "version": "6.2012",
    "termsOfService": "https://dev.rabota.ru/terms_of_use.html"
  },
  "servers": [
    {
      "url": "https://api.rabota.wtf/v6",
      "description": "Сервер песочницы (окружение 'sandbox')"
    },
    {
      "url": "https://api.rabota.ru/v6",
      "description": "Рабочий сервер (окружение 'prod')"
    }
  ],
  "externalDocs": {
    "url": "https://dev.rabota.ru/",
    "description": "Дополнительная информация для разработчиков"
  },
  "tags": [
    {
      "name": "applicant",
      "description": "Соискатель"
    },
    {
      "name": "auth",
      "description": "Авторизация"
    },
    {
      "name": "company",
      "description": "Компания"
    },
    {
      "name": "dictionary",
      "description": "Справочник"
    },
    {
      "name": "person",
      "description": "Пользователь"
    },
    {
      "name": "recruiter",
      "description": "Рекрутер"
    },
    {
      "name": "response",
      "description": "Отклик"
    },
    {
      "name": "resume",
      "description": "Резюме"
    },
    {
      "name": "sberbank",
      "description": "Сбербанк"
    },
    {
      "name": "skill",
      "description": "Навык"
    },
    {
      "name": "vacancy",
      "description": "Вакансия"
    }
  ],
  "paths": {
    "/code/login.json": {
      "post": {
        "summary": "Авторизация по коду из СМС или письма",
        "operationId": "codeLoginAction",
        "tags": [
          "auth",
          "owner_job"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Авторизация по коду из СМС или письма",
                    "type": "object",
                    "required": [
                      "login",
                      "access_code"
                    ],
                    "properties": {
                      "login": {
                        "$ref": "#/components/schemas/Login"
                      },
                      "access_code": {
                        "$ref": "#/components/schemas/AccessCode"
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/IsSucceed"
                            },
                            {
                              "description": "true если пользователь найден и одноразовый код принят"
                            }
                          ]
                        },
                        "token": {
                          "$ref": "#/components/schemas/Token"
                        },
                        "token_v3": {
                          "$ref": "#/components/schemas/V3Token"
                        }
                      }
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверные учётные данные"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверный запрос"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          }
        }
      }
    },
    "/code/register.json": {
      "post": {
        "summary": "Регистрация по коду",
        "operationId": "codeRegisterAction",
        "tags": [
          "auth",
          "owner_job"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Проверка проверочного кода по логину пользователя с последующей регистрацией",
                    "type": "object",
                    "required": [
                      "login",
                      "access_code"
                    ],
                    "properties": {
                      "login": {
                        "$ref": "#/components/schemas/Login"
                      },
                      "access_code": {
                        "$ref": "#/components/schemas/AccessCode"
                      },
                      "secondary_login": {
                        "$ref": "#/components/schemas/Login"
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/IsSucceed"
                            },
                            {
                              "description": "true если пользователь найден и одноразовый код принят"
                            }
                          ]
                        },
                        "token": {
                          "$ref": "#/components/schemas/Token"
                        },
                        "token_v3": {
                          "$ref": "#/components/schemas/V3Token"
                        }
                      }
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверные учётные данные"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверный запрос"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          }
        }
      }
    },
    "/code/send.json": {
      "post": {
        "summary": "Отправка кода по логину",
        "operationId": "codeSendAction",
        "tags": [
          "auth",
          "owner_job"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Отправка проверочного кода по логину пользователя",
                    "type": "object",
                    "required": [
                      "login"
                    ],
                    "properties": {
                      "login": {
                        "$ref": "#/components/schemas/Login"
                      },
                      "recaptcha_response": {
                        "$ref": "#/components/schemas/GoogleReCaptcha"
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/IsSucceed"
                            },
                            {
                              "description": "true если пользователь найден и одноразовый код отправлен"
                            }
                          ]
                        },
                        "pause_until_next_attempt": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/PauseUntilNextAttempt"
                            },
                            {
                              "default": 0
                            }
                          ]
                        },
                        "sent_logins": {
                          "type": "array",
                          "title": "Список логинов куда были отправлены коды (замаскированы)",
                          "items": {
                            "$ref": "#/components/schemas/SentLogin"
                          }
                        }
                      }
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещён"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверный запрос"
          }
        }
      }
    },
    "/employment.json": {
      "post": {
        "summary": "Справочник \"Занятость\"",
        "operationId": "employmentAction",
        "tags": [
          "dictionary"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Параметры запроса",
                    "type": "object",
                    "properties": {
                      "fields": {
                        "type": "array",
                        "title": "Поля для выборки",
                        "description": "Пустой массив для выборки всех полей или список выбираемых полей:<br> (сущность - Занятость) <br>id - Идентификатор<br>name - Название<br>slug - Константа<br>",
                        "default": [],
                        "items": {
                          "type": "string",
                          "enum": [
                            "id",
                            "name",
                            "slug"
                          ]
                        },
                        "maxItems": 500
                      },
                      "limit": {
                        "$ref": "#/components/schemas/Limit"
                      },
                      "offset": {
                        "$ref": "#/components/schemas/Offset"
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "employments": {
                          "description": "Виды занятости",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Employment"
                          }
                        },
                        "total": {
                          "$ref": "#/components/schemas/Total"
                        },
                        "version": {
                          "title": "Версия справочника",
                          "type": "integer",
                          "description": "Запрашивайте с limit = 0"
                        }
                      }
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверный запрос"
          }
        }
      }
    },
    "/login.json": {
      "post": {
        "summary": "Авторизация пользователя",
        "operationId": "loginAction",
        "tags": [
          "auth",
          "owner_job"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Отправка проверочного кода по логину пользователя",
                    "type": "object",
                    "required": [
                      "login",
                      "password"
                    ],
                    "properties": {
                      "login": {
                        "$ref": "#/components/schemas/Login"
                      },
                      "password": {
                        "$ref": "#/components/schemas/Password"
                      },
                      "recaptcha_response": {
                        "$ref": "#/components/schemas/GoogleReCaptcha"
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "$ref": "#/components/schemas/IsSucceed"
                        },
                        "person_id": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/IdIntMin1"
                            },
                            {
                              "title": "Идентификатор пользователя",
                              "nullable": true,
                              "maximum": 2147483647
                            }
                          ]
                        },
                        "token": {
                          "$ref": "#/components/schemas/Token"
                        },
                        "token_v3": {
                          "$ref": "#/components/schemas/V3Token"
                        }
                      }
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверные учётные данные"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверный запрос"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          }
        }
      }
    },
    "/login/try.json": {
      "post": {
        "summary": "Проверяет существование пользователя или регистрирует нового",
        "operationId": "loginTryAction",
        "tags": [
          "auth",
          "owner_job"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Попытка авторизоваться",
                    "type": "object",
                    "required": [
                      "login"
                    ],
                    "properties": {
                      "login": {
                        "$ref": "#/components/schemas/Login"
                      },
                      "secondary_login": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Login"
                          },
                          {
                            "description": "Дополнительный логин",
                            "nullable": true
                          }
                        ]
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "description": "Попытка авторизоваться или регистрация",
                      "type": "object",
                      "properties": {
                        "status": {
                          "title": "Статус",
                          "type": "string",
                          "enum": [
                            "new_user_need_code_sent",
                            "new_user_registered",
                            "user_exists_need_code_sent",
                            "user_exists_need_password"
                          ]
                        },
                        "exist": {
                          "title": "Статус для логина",
                          "type": "string",
                          "enum": [
                            "login",
                            "secondary_login"
                          ]
                        },
                        "token": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Token"
                            },
                            {
                              "description": "Параметр доступен в случае успешной регистрации по email."
                            }
                          ]
                        },
                        "token_v3": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/V3Token"
                            },
                            {
                              "description": "Параметр доступен в случае успешной регистрации по email."
                            }
                          ]
                        }
                      }
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверный запрос"
          }
        }
      }
    },
    "/me.json": {
      "post": {
        "summary": "Получение текущего пользователя",
        "operationId": "meAction",
        "tags": [
          "person",
          "applicant"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "type": "object",
                    "properties": {
                      "fields": {
                        "type": "array",
                        "title": "Поля для выборки",
                        "description": "Пустой массив для выборки всех полей или список выбираемых полей:<br> (сущность - Пользователь) <br>id - Идентификатор<br>first_name - Имя<br>middle_name - Отчество<br>last_name - Фамилия<br>phones - Список телефонов<br>phones.id - Идентификатор<br>phones.number_international - Номер телефона в международном или локальном формате<br>phones.extension - Добавочный номер телефона<br>phones.is_accepted - Телефон подтверждён<br>phones.is_main - Основной телефон<br>phones.is_confirmed - Признак, что телефон подтвержден<br>birth_at - Дата рождения<br>roles - Роли пользователя<br>gender - Пол человека<br>photo - Фото<br>photo.url_original - Адрес оригинальной картинки<br>photo.url_small - Адрес уменьшенной картинки<br>photo.url_medium - Адрес картинки среднего размера<br>region - Регион<br>region.id - Идентификатор<br>region.name - Название в именительном падеже<br>region.name_case_loct - Название в предложном падеже<br>region.name_case_gent - Название в родительном падеже<br>region.domain - Домен<br>region.tree_path_ids - Путь до региона в дереве регионов<br>region.type_id - Тип региона<br>region.is_big_city - Большой город?<br>region.specify - Уточнение области для городов с одинаковыми названиями<br>region.has_subway - В регионе есть метро?<br>region.geopoint - Географические координаты (точка)<br>region.distance - Дистанция между регионами (областями, городами и адресами) в километрах<br>region.parent_region_name - Название родительского региона в именительном падеже<br>social_accounts - Социальные сети<br>social_accounts.id - Идентификатор в социальной сети<br>social_accounts.type_id - Идентификатор типа социальной сети<br>created_at - Дата-время создания<br>last_modified_at - Дата-время изменения<br>last_login_at - Дата-время последнего входа<br>is_blocked - Пользователь заблокирован<br>has_resume - Пользователь имеет хотя бы 1 резюме<br>settings - Настройки<br>settings.auto_match - Автоподбор<br>settings.notifications - Уведомления<br>call_time - Время звонка<br>call_time.from - Начало временного интервала<br>call_time.to - Конец временного интервала<br>call_time.timezone - Таймзона<br>email - Email пользователя<br>email.value - Адрес электронной почты<br>email.is_confirmed - Признак, что email подтвержден<br>is_available_autoresponse - Возможен ли автотклик<br>is_disabled_autoresponse - Отключена возможность использовать автоотклик<br>is_agree_mailouts - Пользователь согласен на получение рекламных рассылок<br>is_agree_transfer_data_to_sberbank - Пользователь согласен на передачу персональных данных Сбербанку<br>status - Статус соискателя<br>status.id - Идентификатор<br>status.title - Наименование статуса<br>status.alias - Алиас статуса<br>status.actions - Действия статуса<br>is_married - Состою в браке<br>citizenship - Гражданство<br>citizenship.country_id<br>citizenship.has_permission<br>citizenship.country - Страна<br>education_level - Уровень образования<br>education_level.id - Идентификатор<br>education_level.name - Название образования<br>experiences - Опыты работы<br>experiences.id - Идентификатор<br>experiences.started_at - Дата начала работы<br>experiences.finished_at - Дата окончания работы<br>experiences.company - Компания<br>experiences.position - Должность<br>experiences.city - Город<br>experiences.comment - Комментарий (Обязанности, функции и достижения)<br>certificates - Сертификаты и дипломы<br>certificates.id - Идентификатор<br>certificates.name - Название<br>certificates.year - Год получения<br>certificates.document - Документ<br>certificates.external_link - Ссылка на внешний ресурс<br>languages - Владение языками<br>languages.id - ID владения языком<br>languages.language - <br>languages.level - Уровень владения языком<br>native_language - Родной язык<br>native_language.id - Идентификатор<br>native_language.name - Название языка<br>educations - Учебные заведения<br>educations.id - ID учебного заведения<br>educations.level - Уровень образования<br>educations.name - Название учебного заведения<br>educations.speciality - Специальность<br>educations.finished_at - Год окончания<br>has_children - Есть дети<br>",
                        "default": [],
                        "items": {
                          "type": "string",
                          "enum": [
                            "id",
                            "first_name",
                            "middle_name",
                            "last_name",
                            "phones",
                            "phones.id",
                            "phones.number_international",
                            "phones.extension",
                            "phones.is_accepted",
                            "phones.is_main",
                            "phones.is_confirmed",
                            "birth_at",
                            "roles",
                            "gender",
                            "photo",
                            "photo.url_original",
                            "photo.url_small",
                            "photo.url_medium",
                            "region",
                            "region.id",
                            "region.name",
                            "region.name_case_loct",
                            "region.name_case_gent",
                            "region.domain",
                            "region.tree_path_ids",
                            "region.type_id",
                            "region.is_big_city",
                            "region.specify",
                            "region.has_subway",
                            "region.geopoint",
                            "region.distance",
                            "region.parent_region_name",
                            "social_accounts",
                            "social_accounts.id",
                            "social_accounts.type_id",
                            "created_at",
                            "last_modified_at",
                            "last_login_at",
                            "is_blocked",
                            "has_resume",
                            "settings",
                            "settings.auto_match",
                            "settings.notifications",
                            "call_time",
                            "call_time.from",
                            "call_time.to",
                            "call_time.timezone",
                            "email",
                            "email.value",
                            "email.is_confirmed",
                            "is_available_autoresponse",
                            "is_disabled_autoresponse",
                            "is_agree_mailouts",
                            "is_agree_transfer_data_to_sberbank",
                            "status",
                            "status.id",
                            "status.title",
                            "status.alias",
                            "status.actions",
                            "is_married",
                            "citizenship",
                            "citizenship.country_id",
                            "citizenship.has_permission",
                            "citizenship.country",
                            "education_level",
                            "education_level.id",
                            "education_level.name",
                            "experiences",
                            "experiences.id",
                            "experiences.started_at",
                            "experiences.finished_at",
                            "experiences.company",
                            "experiences.position",
                            "experiences.city",
                            "experiences.comment",
                            "certificates",
                            "certificates.id",
                            "certificates.name",
                            "certificates.year",
                            "certificates.document",
                            "certificates.external_link",
                            "languages",
                            "languages.id",
                            "languages.language",
                            "languages.level",
                            "native_language",
                            "native_language.id",
                            "native_language.name",
                            "educations",
                            "educations.id",
                            "educations.level",
                            "educations.name",
                            "educations.speciality",
                            "educations.finished_at",
                            "has_children"
                          ]
                        },
                        "maxItems": 500
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/ProfilePersonApplicant"
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Необходима авторизация"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверное значение"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/me/companies/join/search.json": {
      "post": {
        "summary": "Поиск компаний для присоединения по ИНН с возможностью фильтрации",
        "operationId": "meCompaniesJoinSearchAction",
        "tags": [
          "person",
          " company",
          " owner_hr"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Поиск компаний для присоединения",
                    "type": "object",
                    "required": [
                      "query"
                    ],
                    "properties": {
                      "query": {
                        "title": "Поисковый запрос",
                        "nullable": false,
                        "minLength": 1,
                        "type": "string",
                        "maxLength": 50000
                      },
                      "search_fields": {
                        "title": "Список полей для поиска, если NULL - поиск по всем полям",
                        "nullable": true,
                        "type": "array",
                        "minItems": 1,
                        "items": {
                          "type": "string",
                          "enum": [
                            "id",
                            "name",
                            "inn"
                          ]
                        },
                        "maxItems": 500
                      },
                      "region_id": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/IdIntMin1"
                          },
                          {
                            "title": "Идентификатор региона для фильтрации результата поиска",
                            "nullable": true
                          }
                        ]
                      },
                      "limit": {
                        "$ref": "#/components/schemas/Limit"
                      },
                      "offset": {
                        "$ref": "#/components/schemas/Offset"
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "companies": {
                          "description": "Список компаний",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MeCompaniesJoinSearch"
                          }
                        },
                        "total": {
                          "$ref": "#/components/schemas/Total"
                        }
                      }
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Необходима авторизация"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/me/company.json": {
      "post": {
        "summary": "Получение информации о компании текущего пользователя",
        "operationId": "meCompanyAction",
        "tags": [
          "person",
          " company",
          " owner_hr"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "type": "object",
                    "properties": {
                      "fields": {
                        "type": "array",
                        "title": "Поля для выборки",
                        "description": "Пустой массив для выборки всех полей или список выбираемых полей:<br> (сущность - ) <br>id - Идентификатор<br>name - Наименование<br>slug - Наименование компании для ЧПУ<br>offer_branches - Сферы деятельности<br>offer_branches.id - Идентификатор<br>offer_branches.name - Название<br>offer_branches.children - Дочерние сферы<br>logo - Фото<br>logo.url_original - Адрес оригинальной картинки<br>logo.url_small - Адрес уменьшенной картинки<br>logo.url_medium - Адрес картинки среднего размера<br>logo_vacancy_preview - Изображение для превьюшки компании в списке вакансий<br>logo_vacancy_preview.url - Основной адрес картинки<br>logo_vacancy_preview.srcset<br>logo_vacancy_preview.title<br>logo_vacancy_preview.alt<br>logo_company_preview - Изображение для превьюшки компании в списке<br>logo_company_preview.url - Основной адрес картинки<br>logo_company_preview.srcset<br>logo_company_preview.title<br>logo_company_preview.alt<br>logo_vacancy_detail_preview - Изображение для детальной страницы вакансии<br>logo_vacancy_detail_preview.url - Основной адрес картинки<br>logo_vacancy_detail_preview.srcset<br>logo_vacancy_detail_preview.title<br>logo_vacancy_detail_preview.alt<br>type - Тип, отрасль<br>short_description - Краткое описание<br>description_pages - Список страниц описаний компании<br>description_pages.title - Заголовок описания<br>description_pages.text - Текст описания<br>company_size<br>company_size.id<br>company_size.name<br>company_type_of_ownership<br>company_type_of_ownership.id<br>company_type_of_ownership.name<br>company_main_representation<br>company_main_representation.id - Идентификатор представительства<br>company_main_representation.name - Наименование<br>company_main_representation.is_main - Является ли офис главным<br>company_main_representation.address - Адрес<br>company_main_representation.phones - Телефоны<br>company_main_representation.point - Географические координаты (точка)<br>company_main_representation.subway_stations - Список метро<br>company_main_representation.is_show_on_map - Нужно ли показывать на карте?<br>company_main_representation.map_zoom - Желаемый масштаб карты<br>company_main_representation.web_site - Сайт<br>company_main_representation.region - Регион<br>company_main_representation.kladr_id - КЛАДР идентификатор (код)<br>company_main_representation.street_kladr_id - КЛАДР улицы<br>company_main_representation.city_kladr_id - КЛАДР города<br>company_main_representation.settlement_kladr_id - КЛАДР поселка<br>company_main_representation.house - Дом<br>is_direct_recruiter<br>awards - Награды<br>awards.id - Идентификатор<br>awards.name - Наименование<br>awards.description - Описание<br>awards.url - Ссылка на страницу с описанием награды<br>awards.year - Год получения награды<br>benefits - Бонусы компании<br>benefits.id - Ид<br>benefits.name - Название<br>benefits.description - Описание<br>benefits.icon_path - Иконка<br>call_tracking_enabled - У компании подключена схема подмены номеров<br>rostrud_sync_enabled - У компании подключена отправка вакансий в Роструд<br>quick_response_enabled - У компании включен быстрый отклик<br>personal_manager - Персональный менеджер компании<br>personal_manager.type - Тип контактов персонального менеджера<br>personal_manager.name - Имя<br>personal_manager.email - Адрес электронной почты<br>personal_manager.phone - Номер телефона в международном или локальном формате<br>is_verified - Проверенно Работой.ру<br>status - Статус<br>is_activated_recently - Недавно активирована<br>is_sbbol - Является ли компания СББОЛ<br>is_in_blacklist - Компания в черном списке пользователя<br>is_basic_solution_project - Является ли компания участником проекта \"Базовое решение\"<br>vacancies_count - Количество вакансий<br>created_date - Дата-время создания учетной записи компании<br>is_spam - Находится ли компания в бане<br>",
                        "default": [],
                        "items": {
                          "type": "string",
                          "enum": [
                            "id",
                            "name",
                            "slug",
                            "offer_branches",
                            "offer_branches.id",
                            "offer_branches.name",
                            "offer_branches.children",
                            "logo",
                            "logo.url_original",
                            "logo.url_small",
                            "logo.url_medium",
                            "logo_vacancy_preview",
                            "logo_vacancy_preview.url",
                            "logo_vacancy_preview.srcset",
                            "logo_vacancy_preview.title",
                            "logo_vacancy_preview.alt",
                            "logo_company_preview",
                            "logo_company_preview.url",
                            "logo_company_preview.srcset",
                            "logo_company_preview.title",
                            "logo_company_preview.alt",
                            "logo_vacancy_detail_preview",
                            "logo_vacancy_detail_preview.url",
                            "logo_vacancy_detail_preview.srcset",
                            "logo_vacancy_detail_preview.title",
                            "logo_vacancy_detail_preview.alt",
                            "type",
                            "short_description",
                            "description_pages",
                            "description_pages.title",
                            "description_pages.text",
                            "company_size",
                            "company_size.id",
                            "company_size.name",
                            "company_type_of_ownership",
                            "company_type_of_ownership.id",
                            "company_type_of_ownership.name",
                            "company_main_representation",
                            "company_main_representation.id",
                            "company_main_representation.name",
                            "company_main_representation.is_main",
                            "company_main_representation.address",
                            "company_main_representation.phones",
                            "company_main_representation.point",
                            "company_main_representation.subway_stations",
                            "company_main_representation.is_show_on_map",
                            "company_main_representation.map_zoom",
                            "company_main_representation.web_site",
                            "company_main_representation.region",
                            "company_main_representation.kladr_id",
                            "company_main_representation.street_kladr_id",
                            "company_main_representation.city_kladr_id",
                            "company_main_representation.settlement_kladr_id",
                            "company_main_representation.house",
                            "is_direct_recruiter",
                            "awards",
                            "awards.id",
                            "awards.name",
                            "awards.description",
                            "awards.url",
                            "awards.year",
                            "benefits",
                            "benefits.id",
                            "benefits.name",
                            "benefits.description",
                            "benefits.icon_path",
                            "call_tracking_enabled",
                            "rostrud_sync_enabled",
                            "quick_response_enabled",
                            "personal_manager",
                            "personal_manager.type",
                            "personal_manager.name",
                            "personal_manager.email",
                            "personal_manager.phone",
                            "is_verified",
                            "status",
                            "is_activated_recently",
                            "is_sbbol",
                            "is_in_blacklist",
                            "is_basic_solution_project",
                            "vacancies_count",
                            "created_date",
                            "is_spam"
                          ]
                        },
                        "maxItems": 500
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/V6Company"
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Необходима авторизация"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/me/company/create.json": {
      "post": {
        "summary": "Создание компании для текущего пользователя по реквизитам",
        "operationId": "meCompanyCreateAction",
        "tags": [
          "company"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Регистрация новой компании",
                    "type": "object",
                    "properties": {
                      "inn": {
                        "$ref": "#/components/schemas/Inn"
                      },
                      "company_name": {
                        "type": "string",
                        "title": "Название организации",
                        "minLength": 1,
                        "maxLength": 50000
                      },
                      "company_business_entity_type_id": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/IdIntMin0"
                          },
                          {
                            "title": "Идентификатор формы собственности организации"
                          }
                        ]
                      },
                      "is_allow_inn_double": {
                        "title": "Возможность создать дубль компании по ИНН",
                        "type": "boolean",
                        "default": false
                      },
                      "kpp": {
                        "$ref": "#/components/schemas/Kpp"
                      },
                      "ogrn": {
                        "$ref": "#/components/schemas/Ogrn"
                      },
                      "ogrnip": {
                        "$ref": "#/components/schemas/Ogrnip"
                      },
                      "legal_address": {
                        "title": "Юридический адрес компании",
                        "type": "string",
                        "nullable": true,
                        "minLength": 1,
                        "maxLength": 512
                      },
                      "company_type": {
                        "description": "Тип компании (прямой работодатель, кадровое агенство)",
                        "type": "string",
                        "enum": [
                          "direct",
                          "agency"
                        ]
                      },
                      "legal_title": {
                        "$ref": "#/components/schemas/LegalTitle"
                      },
                      "region_id": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/IdIntMin1"
                          },
                          {
                            "title": "Идентификатор региона",
                            "nullable": true
                          }
                        ]
                      }
                    },
                    "required": [
                      "inn",
                      "company_name",
                      "company_business_entity_type_id",
                      "company_type"
                    ],
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "is_duplicate_by_inn": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/IsSucceed"
                            },
                            {
                              "title": "Компания с таким ИНН уже существует"
                            }
                          ]
                        },
                        "is_new": {
                          "title": "Новосозданная компания",
                          "type": "boolean"
                        },
                        "company_id": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/IdIntMin1"
                            },
                            {
                              "title": "Идентификатор компании",
                              "description": "\n## ВНИМАНИЕ:\nесли флаг *is_duplicate_by_inn* равен:  \n - *FALSE* – то здесь придёт идентификатор новой, только что созданной, компании \n             к которой был присоединён создаваемый рекрутер;  \n - *TRUE*  – идентификатор уже существующей компании, имеющей указанный в запросе ИНН. \n             В этом случае новый работодатель не будет присоединён к компании автоматически.\n"
                            }
                          ]
                        }
                      }
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Внутренняя ошибка сервера"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/me/company/credentials/create.json": {
      "post": {
        "summary": "Создание реквизитов компании",
        "operationId": "meCompanyCredentialsCreate",
        "tags": [
          "company",
          "credentials",
          "owner_hr"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Создание набора реквизитов компании",
                    "type": "object",
                    "required": [
                      "credential_set"
                    ],
                    "properties": {
                      "credential_set": {
                        "allOf": [
                          {
                            "title": "Набор реквизитов компании",
                            "type": "object",
                            "properties": {
                              "email_setting": {
                                "title": "Электронная почта",
                                "type": "object",
                                "properties": {
                                  "email": {
                                    "title": "Адрес электронной почты",
                                    "description": "Уровни валидации email:\n1. синтаксис верный (разрешены обособленные части имён на кириллице)\n2. домен отсутствует в чёрном списке (сервисы одноразовой почты)\n3. домен существует (проверка MX записи в DNS)\nВалидация применяется только в запросах, настраивается флагом x-full-validation:\nполная: все 3 уровня; упрощённая: 0 уровней.\nСинтаксис в punycode автоматически конвертируется ('xn--@-7sbbfb7a0bicj8a0d.xn--p1ai' => 'иванов@почта.рф')",
                                    "type": "string",
                                    "format": "email",
                                    "minLength": 7,
                                    "maxLength": 320,
                                    "x-full-validation": false
                                  },
                                  "is_send": {
                                    "title": "Отправлять по электронной почте",
                                    "type": "boolean"
                                  }
                                }
                              },
                              "post_setting": {
                                "title": "Обычная почта",
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "title": "Почтовый адрес компании",
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 512
                                  },
                                  "code": {
                                    "title": "Почтовый индекс",
                                    "type": "string",
                                    "nullable": true,
                                    "pattern": "/^\\d+$/s",
                                    "minLength": 6,
                                    "maxLength": 6
                                  },
                                  "is_send": {
                                    "title": "Отправлять по почте",
                                    "type": "boolean"
                                  }
                                }
                              },
                              "name": {
                                "title": "Название набора реквизитов",
                                "type": "string",
                                "nullable": true,
                                "minLength": 1,
                                "maxLength": 200
                              },
                              "inn": {
                                "title": "Идентификационный номер налогоплательщика",
                                "description": "Цифровой код, упорядочивающий учёт налогоплательщиков в Российской Федерации",
                                "type": "string",
                                "pattern": "/^\\d+$/s",
                                "minLength": 10,
                                "maxLength": 12
                              },
                              "kpp": {
                                "title": "КПП",
                                "description": "Код причины постановки на учет",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d+$/s",
                                "minLength": 9,
                                "maxLength": 9
                              },
                              "ogrn": {
                                "title": "ОГРН",
                                "description": "Основной государственный регистрационный номер",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d{13}$|^\\d{15}$/s"
                              },
                              "ogrnip": {
                                "title": "ОГРНИП",
                                "description": "Основной государственный регистрационный номер индивидуального предпринимателя",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d{15}$/s"
                              },
                              "legal_type": {
                                "title": "Юридический тип компании",
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "title": "Идентификатор",
                                    "type": "integer",
                                    "format": "int64",
                                    "minimum": 1,
                                    "maximum": 9223372036854775807
                                  }
                                }
                              },
                              "current_account": {
                                "title": "Расчётный счёт компании",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d+$/s",
                                "minLength": 20,
                                "maxLength": 20
                              },
                              "correspondent_account": {
                                "title": "Корреспондентский счёт банка",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d+$/s",
                                "minLength": 20,
                                "maxLength": 20
                              },
                              "bank_name": {
                                "title": "Название банка",
                                "type": "string",
                                "nullable": true,
                                "minLength": 1,
                                "maxLength": 128
                              },
                              "bank_bik": {
                                "title": "БИК",
                                "description": "Банковский идентификационный код - уникальный идентификатор банка,\n             используемый в платежных документах на территории России",
                                "type": "string",
                                "pattern": "/^\\d+$/s",
                                "minLength": 9,
                                "maxLength": 9
                              },
                              "legal_title": {
                                "title": "Юр. название",
                                "description": "Юридическое название компании с формой собственности",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 10240
                              },
                              "legal_address": {
                                "title": "Юридический адрес компании",
                                "type": "string",
                                "nullable": true,
                                "minLength": 1,
                                "maxLength": 512
                              },
                              "fact_address": {
                                "title": "Фактический адрес компании компании",
                                "type": "string",
                                "nullable": true,
                                "minLength": 1,
                                "maxLength": 512
                              },
                              "company_essential_id": {
                                "title": "Идентификатор реквизитов компании (основная схема)",
                                "type": "integer",
                                "format": "int64",
                                "minimum": 1,
                                "maximum": 9223372036854775807
                              }
                            }
                          },
                          {
                            "required": [
                              "inn",
                              "legal_type"
                            ],
                            "properties": {
                              "email_setting": {
                                "oneOf": [
                                  {
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/CredentialsEmail"
                                      },
                                      {
                                        "required": [
                                          "is_send"
                                        ],
                                        "properties": {
                                          "is_send": {
                                            "enum": [
                                              false
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/CredentialsEmail"
                                      },
                                      {
                                        "required": [
                                          "is_send",
                                          "email"
                                        ],
                                        "properties": {
                                          "is_send": {
                                            "enum": [
                                              true
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ]
                              },
                              "post_setting": {
                                "oneOf": [
                                  {
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/CredentialsPost"
                                      },
                                      {
                                        "required": [
                                          "is_send"
                                        ],
                                        "properties": {
                                          "is_send": {
                                            "enum": [
                                              false
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/CredentialsPost"
                                      },
                                      {
                                        "required": [
                                          "is_send",
                                          "address",
                                          "code"
                                        ],
                                        "properties": {
                                          "is_send": {
                                            "enum": [
                                              true
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          }
                        ]
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/IdIntMin1"
                        }
                      }
                    },
                    "request_id": {
                      "$ref": "#/components/schemas/RequestId"
                    }
                  }
                }
              }
            },
            "description": "Успешный ответ"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Неверный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Внутренняя ошибка сервера"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/me/company/credentials/edit.json": {
      "post": {
        "summary": "Изменение реквизитов компании",
        "operationId": "meCompanyCredentialsEdit",
        "tags": [
          "company",
          "credentials",
          "owner_hr"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Объект запроса",
                "type": "object",
                "properties": {
                  "request": {
                    "title": "Изменение набора реквизитов компании",
                    "type": "object",
                    "required": [
                      "credential_set"
                    ],
                    "properties": {
                      "credential_set": {
                        "allOf": [
                          {
                            "title": "Набор реквизитов компании",
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Идентификатор реквизитов компании (биллинг схема)",
                                "type": "integer",
                                "format": "int64",
                                "minimum": 1,
                                "maximum": 9223372036854775807
                              },
                              "email_setting": {
                                "title": "Электронная почта",
                                "type": "object",
                                "properties": {
                                  "email": {
                                    "title": "Адрес электронной почты",
                                    "description": "Уровни валидации email:\n1. синтаксис верный (разрешены обособленные части имён на кириллице)\n2. домен отсутствует в чёрном списке (сервисы одноразовой почты)\n3. домен существует (проверка MX записи в DNS)\nВалидация применяется только в запросах, настраивается флагом x-full-validation:\nполная: все 3 уровня; упрощённая: 0 уровней.\nСинтаксис в punycode автоматически конвертируется ('xn--@-7sbbfb7a0bicj8a0d.xn--p1ai' => 'иванов@почта.рф')",
                                    "type": "string",
                                    "format": "email",
                                    "minLength": 7,
                                    "maxLength": 320,
                                    "x-full-validation": false
                                  },
                                  "is_send": {
                                    "title": "Отправлять по электронной почте",
                                    "type": "boolean"
                                  }
                                }
                              },
                              "post_setting": {
                                "title": "Обычная почта",
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "title": "Почтовый адрес компании",
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 512
                                  },
                                  "code": {
                                    "title": "Почтовый индекс",
                                    "type": "string",
                                    "nullable": true,
                                    "pattern": "/^\\d+$/s",
                                    "minLength": 6,
                                    "maxLength": 6
                                  },
                                  "is_send": {
                                    "title": "Отправлять по почте",
                                    "type": "boolean"
                                  }
                                }
                              },
                              "name": {
                                "title": "Название набора реквизитов",
                                "type": "string",
                                "nullable": true,
                                "minLength": 1,
                                "maxLength": 200
                              },
                              "inn": {
                                "title": "Идентификационный номер налогоплательщика",
                                "description": "Цифровой код, упорядочивающий учёт налогоплательщиков в Российской Федерации",
                                "type": "string",
                                "pattern": "/^\\d+$/s",
                                "minLength": 10,
                                "maxLength": 12
                              },
                              "kpp": {
                                "title": "КПП",
                                "description": "Код причины постановки на учет",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d+$/s",
                                "minLength": 9,
                                "maxLength": 9
                              },
                              "ogrn": {
                                "title": "ОГРН",
                                "description": "Основной государственный регистрационный номер",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d{13}$|^\\d{15}$/s"
                              },
                              "ogrnip": {
                                "title": "ОГРНИП",
                                "description": "Основной государственный регистрационный номер индивидуального предпринимателя",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d{15}$/s"
                              },
                              "legal_type": {
                                "title": "Юридический тип компании",
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "title": "Идентификатор",
                                    "type": "integer",
                                    "format": "int64",
                                    "minimum": 1,
                                    "maximum": 9223372036854775807
                                  }
                                }
                              },
                              "current_account": {
                                "title": "Расчётный счёт компании",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d+$/s",
                                "minLength": 20,
                                "maxLength": 20
                              },
                              "correspondent_account": {
                                "title": "Корреспондентский счёт банка",
                                "type": "string",
                                "nullable": true,
                                "pattern": "/^\\d+$/s",
                                "minLength": 20,
                                "maxLength": 20
                              },
                              "bank_name": {
                                "title": "Название банка",
                                "type": "string",
                                "nullable": true,
                                "minLength": 1,
                                "maxLength": 128
                              },
                              "bank_bik": {
                                "title": "БИК",
                                "description": "Банковский идентификационный код - уникальный идентификатор банка,\n             используемый в платежных документах на территории России",
                                "type": "string",
                                "pattern": "/^\\d+$/s",
                                "minLength": 9,
                                "maxLength": 9
                              },
                              "legal_title": {
                                "title": "Юр. название",
                                "description": "Юридическое название компании с формой собственности",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 10240
                              },
                              "legal_address": {
                                "title": "Юридический адрес компании",
                                "type": "string",
                                "nullable": true,
                                "minLength": 1,
                                "maxLength": 512
                              },
                              "fact_address": {
                                "title": "Фактический адрес компании компании",
                                "type": "string",
                                "nullable": true,
                                "minLength": 1,
                                "maxLength": 512
                              },
                              "company_essential_id": {
                                "title": "Идентификатор реквизитов компании (основная схема)",
                                "type": "integer",
                                "format": "int64",
                                "minimum": 1,
                                "maximum": 9223372036854775807
                              }
                            }
                          },
                          {
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "email_setting": {
                                "oneOf": [
                                  {
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/CredentialsEmail"
                                      },
                                      {
                                        "required": [
                                          "is_send"
                                        ],
                                        "properties": {
                                          "is_send": {
                                            "enum": [
                                              false
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/CredentialsEmail"
                                      },
                                      {
                                        "required": [
                                          "is_send",
                                          "email"
                                        ],
                                        "properties": {
                                          "is_send": {
                                            "enum": [
                                              true
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ]
                              },
                              "post_setting": {
                                "oneOf": [
                                  {
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/CredentialsPost"
                                      },
                                      {
                                        "required": [
                                          "is_send"
                                        ],
                                        "properties": {
                                          "is_send": {
                                            "enum": [
                                              false
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "allOf": [
                                      {
                                        "$ref": "#/components/schemas/CredentialsPost"
                                      },
                                      {
                                        "required": [
                                          "is_send",
                                          "address",
                                          "code"
                                        ],
                                        "properties": {
                                          "is_send": {
                                            "enum": [
                                              true
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          }
                        ]
                      }
                    },
                    "default": {}
                  },
                  "request_id": {
                    "$ref": "#/components/schemas/RequestId"
                  },
                  "time": {
                    "type": "integer"
                  },
                  "application_id": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "user_tags": {
                    "title": "Текущие метки пользователя из cookie",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTag"
                    },
                    "maxItems": 500
                  },
                  "rabota_ru_id": {
                    "$ref": "#/components/schemas/RabotaRuId"
                  },
                  "cache_control_max_age": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400
                  }
                },
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
[...]
